/* Estilos para o corpo da página */
@import url(styles.css);
@import url(styles/pop_up.css);
@import url(styles/lista.css);
@import url(styles/conteudo.css);

:root{
    font-display:inherit;
}

body {
    background-image: url(imagens/fundo-geometrico-gradiente_23-2148807991.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(223, 204, 204);
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(207, 190, 190, 0.2); /* Cor semitransparente (aqui é branco com 50% de transparência) */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

