/* Estilo da div de conteúdo */
.conteudo {
  display: flex; /* Usar flexbox para alinhar lado a lado */
  /*border: 2px solid #ccc; */
  gap: 10px; /* Espaço entre o formulário e o informativo */
  margin: 20px;
  align-items: top; /* Centralizar verticalmente */
}

.formulario,
.informativo {
    flex: 1; /* Ambos ocupam a mesma largura disponível */
    height: 250px; /* Adicione "px" para definir a altura */
    overflow: hidden; /* Ou outro valor, como "scroll" ou "auto" */
    padding: 10px;
    border: 2px solid #0000004f;
    border-radius: 20px;
    
    
}

.formulario input{
height: 2em;
margin-bottom: 5px;
padding: 5px;
border: 2px solid #0a0000;
border-radius: 20px;
background-color:transparent;
color: rgb(224, 207, 207); /* Cor do texto em branco */
text-align: center;

}

#listaDados{
  margin-left: -30px;
}
  /* Estiliza o texto do placeholder */
.campo-input::placeholder {
    color: rgb(253, 249, 249); /* Define a cor do texto do placeholder como branco */
    text-align: center;
}

.formulario select {
  height: 2em;
  width:190px; /* Defina a largura para ocupar 100% da largura disponível */
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  background-color:rgba(20, 44, 179, 0.726);
  background-color:transparent;
  color: white;
  text-align: center;
}

select#turma {
    color: rgb(0, 0, 0); /* Define a cor do texto como branco */
    background-color: rgb(77, 60, 60); /* Define a cor de fundo como azul claro */
}
.formulario select option {
  color: white !important;
}

    
.formulario .salvar {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
  
.formulario .salvar:hover {
    background-color: #ac9874;
}

@media screen and (max-width: 600px) {
  .conteudo {
    flex-direction: column; /* Empilhar elementos em telas menores */
    display: flex;
    gap: 20px;
    margin: 20px;
    min-height: calc(100vh - 40px); /* 40px para considerar a margem superior e inferior */
  }

}