
/* Estilos para o popup */
.popup {
    display: none;
    position:fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:transparent;
    color:#8b8a85ec 
}

.popup-content {
    background-color: #000000;
    border-radius: 15px;
    padding: 3%;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}